@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="form">
	<div class="nav-link">
		<h4><a href="/database/beers/new">Add a beer</a><br></h4>
    <br>
		<h4><a href="/database/breweries/new">Add a brewery</a></h4>
	</div>
</div>
