@{
	Layout = "Shared/_Layout.cshtml";
}
<div class="body">
			<div class="row">
				<div class="main-text">
				<h3>Welcome</h3>
				<p>Oregon Beer Central is a database of local Oregon beers. Browse beers and breweries, or create an account to add and rate beers. Visit your profile page to view a list of the beers you've rated.</p>
				<p>To discover new beers click the Beer Recommendations link below and enter your favorite beer to find similar brews</p>
				</div>
			</div>
			<div class="row">
				<div class="nav-column">
					<p>
						<a href="/recommend">Beer Recommendations</a>
						<a href="/beers">Browse Beers</a>
						<a href="/breweries">Browse Breweries</a>
					</p>
				</div>
		</div>
</div>
