USE [beer_recommendation]
GO
/****** Object:  Table [dbo].[beer_styles]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beer_styles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[beer_id] [int] NULL,
	[style] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[beers]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[abv] [float] NULL,
	[ibu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[beers_breweries]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beers_breweries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[beer_id] [int] NULL,
	[brewery_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[breweries]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breweries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[location] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[favorites]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[beer_id] [int] NULL,
	[user_id] [int] NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 12/22/2016 2:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[beers] ON 

INSERT [dbo].[beers] ([id], [name], [abv], [ibu]) VALUES (1, N'Apocalypse IPA', 6.5, 65)
INSERT [dbo].[beers] ([id], [name], [abv], [ibu]) VALUES (2, N'Backdraft IPA', 6.5, 62)
INSERT [dbo].[beers] ([id], [name], [abv], [ibu]) VALUES (3, N'Beer No. 1 ', 6, NULL)
GO
SET IDENTITY_INSERT [dbo].[beers] OFF
SET IDENTITY_INSERT [dbo].[beers_breweries] ON 

INSERT [dbo].[beers_breweries] ([id], [beer_id], [brewery_id]) VALUES (1, 1, 1)
INSERT [dbo].[beers_breweries] ([id], [beer_id], [brewery_id]) VALUES (2, 2, 1)
INSERT [dbo].[beers_breweries] ([id], [beer_id], [brewery_id]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[beers_breweries] OFF
SET IDENTITY_INSERT [dbo].[breweries] ON 

INSERT [dbo].[breweries] ([id], [name], [location]) VALUES (1, N'10 Barrel', N'Bend, Oregon, USA')
INSERT [dbo].[breweries] ([id], [name], [location]) VALUES (2, N'13 Virtues', N'Portland, Oregon, USA')
INSERT [dbo].[breweries] ([id], [name], [location]) VALUES (3, N'2 Towns', N'Corvallis, Oregon, USA')
GO
SET IDENTITY_INSERT [dbo].[breweries] OFF
